<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mw.ootd.dao.ootdInterfaceDao">


	<!-- 모든 OOTD 글 리스트 불러오기 -->
	<select id="selectAllootdList"
		resultType="com.mw.ootd.Domain.ootdBoard">
		select * from ootd order by ootddate desc;
	</select>

	<!-- 해시태그 네임 불러오기 -->
	<select id="selectHashName"
		resultType="com.mw.ootd.Domain.hashtag">
		select * from ootdhashtag order by hash;

	</select>


	<!-- 글쓰기 -->
	<insert id="ootdDocInsert"
		parameterType="com.mw.ootd.Domain.ootdBoard" useGeneratedKeys="true"
		keyProperty="ootdidx">

		INSERT INTO ootd

		( memidx, ootdnic, ootdphotoname,
		ootdtext,ootdhashtag, xyarr,
		apiproductinfo)
		VALUES
		(#{memidx},#{ootdnic},#{ootdphotoname},#{ootdtext},#{ootdhashtag},
		#{xyarr}, #{apiproductinfo})

	</insert>

	<!-- 방금 쓴 글 번호 반환 -->
	<select id="ootdidxReturn" resultType="int">
		SELECT ootdidx FROM ootd
		where ootdphotoname = #{ootdphotoname}
	</select>

	<insert id="makeLikeCol" parameterType="int"
		>
		INSERT INTO ootdlike
		(ootdidx)
		VALUES
		(#{ootdidx})

	</insert>

	<!-- 페이지 별 리스트 -->

	<select id="PagingView"
		resultType="com.mw.ootd.Domain.ootdBoard">
		select * from ootd order by ootdidx desc limit #{param1},
		#{param2}
	</select>

	<!-- 글번호에 맞는 게시글 정보 -->
	<select id="postByIdx" resultType="com.mw.ootd.Domain.ootdBoard">
		select * from ootd where
		ootdidx = #{ootdidx}
	</select>


	<!-- 글 삭제하기 -->
	<delete id="deletPost">
		DELETE FROM ootd WHERE ootdidx = #{ootdidx}
	</delete>
	
	
	<!-- 좋아요 했는지 여부 -->
	<select id="likeChk" resultType="int">
	select count(*) from ootdlike where ootdidx=#{param1} AND memidx= #{param2}	
	</select>
	
	
 	<!-- 좋아요 해주기 -->
 	<insert id="onheart" parameterType="int">
		INSERT INTO ootdlike
		(ootdidx, memidx)
		VALUES
		(#{param1}, #{param2})		
	</insert>
	
	<!-- 좋아요삭제 -->
	<delete id="offheart" parameterType="int">
		delete from ootdlike where ootdidx=#{param1} and memidx=#{param2}
	</delete>
	
</mapper>