<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mw.ootd.dao.ootdInterfaceDao">


<!-- 모든 OOTD 글 리스트 불러오기 -->
<select id="selectAllootdList"
resultType="com.mw.ootd.Domain.ootdBoard">
select * from ootd order by ootddate desc;
</select>

<!-- 해시태그 네임 불러오기 -->
<select id="selectHashName"
resultType="com.mw.ootd.Domain.hashtag">
select * from ootdhashtag order by hash;

</select>


<!-- 회원가입 -->

<insert id="ootdDocInsert"
   parameterType="com.mw.ootd.Domain.ootdBoard"
   useGeneratedKeys="true"
   keyProperty="ootdidx">
   
   INSERT INTO ootd
   
   ( memidx, ootdnic, ootdphotoname, ootdtext,ootdhashtag)
   VALUES
   (#{memidx},#{ootdnic},#{ootdphotoname},#{ootdtext},#{ootdhashtag})

</insert>

</mapper>