<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- 글쓰기 HTML  -->

<form id="regForm" method="post" enctype="multipart/form-data">

<input type="file" id="ootd_photo" name="ootd_photo"> 사진 파일 받기
<input type="text" id="ootd_text" name="ootd_text"> 내용받기 (추후글자수제한) : 입력양식 이벤트 추가하기
<input type="checkbox" id="ootd_hashtag1" name="ootd_hatag1">
<input type="checkbox" id="ootd_hashtag2" name="ootd_hatag2">
<input type="checkbox" id="ootd_hashtag3" name="ootd_hatag3">
<input type="checkbox" id="ootd_hashtag4" name="ootd_hatag4">
<input type="checkbox" id="ootd_hashtag5" name="ootd_hatag5">
<input type="checkbox" id="ootd_hashtag6" name="ootd_hatag6">
<input type="checkbox" id="ootd_hashtag7" name="ootd_hatag7">
<input type="checkbox" id="ootd_hashtag8" name="ootd_hatag8">
<input type="checkbox" id="ootd_hashtag9" name="ootd_hatag9">

<input type="submit" value="글쓰기">



		
</form>
</body>
</html>